html, body {
  margin: 0;
  padding: 0
}

body {
  font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-weight: bold;
}

.shiju-bao {
  position: absolute;
  top: 40%;
  left: 5%;
}

.shiju {
  color: #3ea170;
  font-size: 100px;
  text-align: left;
  padding: 20px; 
  opacity: 0;
}

.title {
  font-size: 120px;
  margin-bottom: 10px;
  opacity: 1;
}

.footer {
  margin: 300px 0 300px 0;
  padding: 20px;
  width: 200px;
  color: white;
  font-size: 30px;
  line-height: 1;
  background: #3ea170;
  cursor: pointer;
}