body {
    background-color: #a6c5c5;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, auto);
}

.clock {
    grid-row: 2/3;
    grid-column: 2/3;
    border-radius: 50%;
    padding: 50%;
    position: relative;
    background-color: #fee5ca;
    border: 20px solid #cca7c2;
    -webkit-box-shadow: 10px 20px 50px #885e7dab;
    -moz-box-shadow: 10px 20px 50px #885e7dab;
    box-shadow: 10px 20px 50px #885e7dab;
}

.clock::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #CCA7C2;
    transform: translate(-50%, -50%);
}

.hand {
    position: absolute;
    transform: translateX(-50%);
    transform-origin: top;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    border-radius: 10px;
    background: #95A3C2;
}

.hand.hour {
    height: 30%;
    width: 5px;
}

.hand.min {
    height: 40%;
    width: 4px;
}

.hand.second {
    height: 45%;
    width: 2px;
    background: #FAC1BC;
}
