*,
*:after,
*::before {
    box-sizing: border-box;
}

.timer-stack {
  position: relative;
  margin: 40px auto;
  padding: 0;
  width: 340px;
  height: 380px;
  list-style: none;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 150%;
  perspective: 1000px;
  perspective-origin: 50% 150%;
}


.timer-stack li {
  position: absolute;
  margin: 10px;
	z-index: 1;
  background: orange;
	width: 340px;
  height: 380px;
	border-width: 60px 20px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 1;
	cursor: pointer;
	/* transform: translate3d(0,0,0px); */
	transform-style: preserve-3d;
}

.card3 {
  transform: translate3d(0,0,-60px);
}

.card2 {
  transform: translate3d(0,0,-120px);
}

.card1 {
  transform: translate3d(0,0,-180px);
}
