@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

html, body {
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: #ebc2a7;
}

*, *:before, *:after {box-sizing: inherit; }

