html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Gill Sans', sans-serif;
    text-align: center;
    font-size: 1em;
    line-height: 10rem;
}

p {
    line-height: 1rem;
}

.init-wrapper, .buttons, .copy-wrapper, .ref-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.init {
    width: 10rem;
    height: 10rem;
    background: #F694C1;
    margin: 2rem;
    border-radius: 10px;
    
}

.init:focus {
    background: #E4C1F9;
}

.button {
    width: 10rem;
    height: 2rem;
    border: 2px solid #A9DEF9;
    border-radius: 20px;
    margin: 2rem;
    line-height: 2rem;
    transition: all .4s ease;
    cursor: pointer;
}

.button:hover {
    box-shadow: inset 10rem 2rem 0 0 #70C1B3;
    border: 2px solid #70C1B3;
    color: #ffffff;
}
