body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #222222;
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
}

.maze {
  background: #355C7D;
  text-align: center;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". . . a ."
                       ". . . b ."
                       ". . c c ."
                       ". d d . ."
                       ". e . . .";
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
}

.path {
  background: #F67280;
}


.hero {
  background: url(hero.png) no-repeat center center;
  grid-area: e;
  background-size: 100px;
}


