body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #444;
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
}

.maze {
  background: #3AACD8;
  text-align: center;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.a {
  grid-area: 1 / 4 / 2 / 5;
}

.b {
  grid-area: 2 / 4 / 3 / 5;
}

.c {
  grid-area: 3 / 3 / 4 / 4;
}

.d {
  grid-area: 3 / 4 / 4 / 5;
}

.e {
  grid-area: 4 / 2 / 5 / 3;
}

.f {
  grid-area: 4 / 3 / 5 / 4;
}

.g {
  grid-area: 5 / 2 / 6 / 3;
}

.path {
  background: #FED3A8;
}


.hero {
  background: url(hero.png) no-repeat center center;
  grid-area: 5 / 2 / 6 / 3;
  background-size: 100px;
}

.shake {
  animation: shake 0.5s;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
