body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #222222;
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
}

.maze {
  background: #355C7D;
  text-align: center;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.a {
  grid-area: 1 / 4 / 2 / 5;
}

.b {
  grid-area: 2 / 4 / 3 / 5;
}

.c {
  grid-area: 3 / 3 / 4 / 5;
}

.d {
  grid-area: 4 / 2 / 5 / 4;
}

.e {
  grid-area: 5 / 2 / 6 / 3;
}

.path {
  background: #F67280;
}


.hero {
  background: url(hero.png) no-repeat center center;
  grid-area: e;
  background-size: 100px;
}


