html {
  font-size: 30px;
  background-color: #F2F7E4;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  min-width: 40px;
  text-align: center;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 20px;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.2s linear;
}

.key:nth-child(3n+1) {
    background: #f8ba97;
    box-shadow: 0 5px 0 #b88a70;
}

.key:nth-child(3n+2) {
    background: #522B5F;
    box-shadow: 0 5px 0 #361342;
}

.key:nth-child(3n) {
    background: #C7EE81;
    box-shadow: 0 5px 0 #9fbd68;
}

.playing:nth-child(3n+1) {
  box-shadow: 0 2px 0 #b88a70;
  transform: translateY(3px);
}

.playing:nth-child(3n+2) {
  box-shadow: 0 2px 0 #361342;
  transform: translateY(3px);
}

.playing:nth-child(3n) {
  box-shadow: 0 2px 0 #9fbd68;
  transform: translateY(3px);
}
