html {
  font-size: 30px;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  min-width: 40px;
  text-align: center;
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 20px;
  outline: 0;
  padding: 12px 20px;
  transition: all 0.1s linear;
}

.playing {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
