@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

html {
    box-sizing: border-box;
    font-family:'Oxygen', sans-serif;
    font-size: 80px;
    font-weight: 700;
}

body {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

p {
    transform: rotate(90deg);
    transform-origin: right 39%;
    color: #ffffff;
    flex: 1;
    width: 200px;
    white-space: nowrap;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    flex: 1;
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;

    transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
}

.panel:hover {
    flex: 5;
    font-size: 100px;
}

.panel1 {
    background-color: #dae9e4;
}

.panel2 {
    background-color: #8bcbc8;
}

.panel3 {
    background-color: #ecc7c0;
}

.panel4 {
    background-color: #fdae84;
}

.panel5 {
    background-color: #3c2e3d;
}