html {
    box-sizing: border-box;
    background:#FFD9E8;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  input {
    width: 100%;
    padding:10px;
  }

  .search-form {
    max-width: calc(100vw - 20%);
    margin: auto;
  }

  input.search {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 35px;
    border-bottom: 3px solid #7F4A88;
    z-index: 2;
    color: #7F4A88;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(127, 74, 136, 0.5);
  }


  .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
  }

  .suggestions li {
    background:white;
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin:0;
    padding:20px;
    transition:background 0.2s;
    display:flex;
    justify-content:space-between;
    text-transform: capitalize;
  }

  span.price {
    font-size: 15px;
  }

  .hl {
    background:#DE95BA;
  }