*,
*:after,
*::before {
    box-sizing: border-box;
}

.boundary {
  position: absolute;
  width: 60vw;
  height: 100vh;
  background: grey;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  
}

button {
  width: 100%;
  background: none;
  border: 0;
  cursor: pointer;
  color:white;
  font-size: 2rem;
  text-transform: uppercase;
  background:rgba(0,0,0,0.1);
  box-shadow: 0 7px rgba(0,0,0,0.2);
  padding: .5rem;
  transition: all 0.2s linear;
}

.button:hover {
  box-shadow: 0 3px rgba(0,0,0,0.2);
  transform: translateY(4px);
}

.timer-stack {
  position: relative;
  margin: 40px auto;
  padding: 0;
  width: 340px;
  height: 380px;
  list-style: none;
  -webkit-perspective: 1000px;
  -webkit-perspective-origin: 50% 150%;
  perspective: 1000px;
  perspective-origin: 50% 150%;
}

.card {
  position: absolute;
  background: #23F0C7;
  margin: 10px;
	width: 340px;
  height: 380px;
	border-width: 60px 20px;
	border-style: solid;
	border-color: #fff;
	box-shadow: 0 10px 7px -7px rgba(0,0,0,0.12), 0 0 4px rgba(0,0,0,0.1);
	opacity: 1;
	cursor: pointer;
  transform-style: preserve-3d;

}

.card:nth-child(2) {
  background: #EF767A;
}

.card:nth-child(3) {
  background: #7D7ABC;

}

.card:nth-child(4) {
  background: #FFE347;
}

.moveback {
  transition: transform .3s cubic-bezier(0.24, 0.2, 0.7, 1.76);
}

.moveaway {
  animation: moveaway .5s ease-in;
  animation-fill-mode: forwards;

}

@keyframes moveaway {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}