@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Amatic SC', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  background: #99c4b3;
  font-family: 'Amatic SC', cursive;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 8rem;
  line-height: .8;
  margin: 2rem;
}

.score {
  background:rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

button {
  width: 8rem;
  height: 5rem;
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  margin-top: 2rem;
}

button:hover {
  cursor: pointer;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin:0 auto;
  cursor: url(mallet.png), auto;
}

.game::click {
  cursor: url(mallet-hit.png), auto;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom:-30px;
}

.mole {
  background:url('mole.svg') bottom center no-repeat;
  background-size:60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s;
}

.hole.up .mole {
  top:0;
}

.mallet {
  position: absolute;
  z-index: 4;
  transition: all .08s linear;
}

.mallet.hit {
  transform: rotate(-90deg);
}